.Navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: white;
    padding: 16px 5vw;
    align-items: center;
    margin-bottom: 64px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.Navbar ul {
    display: flex;
}

.Navbar .logo {
    font-size: 20px;
    font-weight: 800;
    color: var(--accent-color)
}

.Navbar ul > li {
    list-style: none;
    margin-left: 32px;
}

.Navbar ul > li > a {
    color: white
}

.Navbar ul > li > a:hover {
    color: var(--secondary-color);
}

.Navbar ul > .favourites-item > a{
    background-color: var(--accent-color);
    padding: 8px;
    border-radius: 4px;
    color: var(--primary-color);
    font-weight: 600;
}


.Navbar ul > .favourites-item > a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.Navbar .favourites-item img {
    margin-right: 4px;
    transform: translateY(2px);
}


.hamburger-logo {
    display: none;
}

@media only screen and (max-width: 600px) {
    .Navbar ul {
        display: none;
    }
    
    .hamburger-logo {
        height: 32px;
        display: inline-block;

    }
    
    .hamburger-nav {
        background-color: var(--primary-color);
        width: 50%;
        padding: 20px;
        text-align: right;
        position: absolute;
        right: 0;
        top: 60px;
    }
    
    .hamburger-nav ul > li {
        list-style: none;
        margin-left: 32px;
        margin-bottom: 24px;
        padding-right: 32px;
    }
    
    .hamburger-nav ul > li > a {
        color: white
    }
    
    .hamburger-nav ul > li > a:hover {
        color: var(--secondary-color);
    }
    
    .hamburger-nav ul > .favourites-item {
      margin-top: 32px 
    }
    
    .hamburger-nav ul > .favourites-item > a{
        background-color: var(--accent-color);
        padding: 8px;
        border-radius: 4px;
        color: var(--primary-color);
        font-weight: 600;
    }
    
    .hamburger-nav ul > .favourites-item > a:hover {
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }
}

.non-animated-icon {
    transform: scale(1) translateY(2px);;
    transition: fill 0.3s ease, transform 0.3s ease;
}

.non-animated-icon path {
    fill: var(--primary-color);
}

.animated-icon {
    transform: scale(2) translateY(2px);
}

.animated-icon path {
    fill: var(--secondary-color);
}