@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;600&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,600&family=Press+Start+2P&display=swap');

:root {
  --primary-color: #1c263d;
  --secondary-color: #CFACEF;
  --accent-color: #84D87F;
  --dark-grey: #333333;
  --grey: #888;
  --light-grey: #d7e9ea;
  --very-light-grey: #f2f2f2;
  background-color: var(--very-light-grey);
  color: var(--dark-grey);
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Poppins', sans-serif, system-ui;
  box-sizing: border-box;  
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 32px;
}

button, .btn {
  margin-top: 16px;
  border-radius: 6px;
  border: 1px solid transparent;
  padding: .75em 1em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: var(--accent-color);
  color: var(--dark-grey);
  cursor: pointer;
  display: flex;
}

button:hover, .btn:hover {
  color: var(--light-grey);
  background-color: var(--primary-color);
}

.container {
  padding: 0 5vw;
}

.centered {
  text-align: center;
  margin: 0 auto;
}

.icons-wrap {
  display: flex;
  justify-content: space-evenly;
  gap: 64px;
  margin-top: 64px;
  margin-bottom: 64px;
  color: var(--dark-grey)
}

.icons-wrap h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.icons-wrap p {
  line-height: 1.25;
  font-weight: 300;
}

.icons-wrap img {
  margin-bottom: 16px;
  height: 64px;
}

.icons-wrap .icons-card {
  text-align: center;
}

.list-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 48px;
}

.companies-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.company-card {
  padding: 1.5em 1em;
  border-radius: 8px;
  background-color: var(--light-grey);
  flex: 0 1 calc(50% - 8px);
  box-sizing: border-box;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  
}

.company-card .company-logo  {
  display: flex;
  justify-content: center;
}

.company-card .company-logo img {
  max-width: 132px;
  width: 100%;
  max-height: 80px;
  margin-bottom: 32px;
}

.company-card-info {
  display: flex;
  justify-content: space-between;
}

.company-card-info h4 {
  margin-bottom: 8px;
  font-weight: 600;
}

.company-card-info h4 span {
  min-width: 80px;
}

.company-card h3 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 24px;
}

.company-card h4 img {
  height: 16px;
  margin-right: 4px;
}

.company-card div div span {
  font-weight: 400;
  font-size: 12px;
  display: inline-block;
  margin-right: 4px;

}

.company-card .esg {
  padding-top: 16px;
  margin-top: 8px;
  border-top: 1.5px solid #cadadb;
  font-size: 12px;
  margin-top: 24px;
  color: var(--dark-grey);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.company-card .esg div {
  margin-bottom: 4px;
  width: 100%
}

.company-card .esg h5 {
  font-weight: 700;
}

.company-card-buttons-wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.company-card-buttons-wrap button:hover img {
  filter: brightness(0) invert(1);
}

.company-card-buttons-wrap a {
  margin-left: 8px;
}

.company {
  display: flex;
  gap: 48px;
  margin-bottom: 32px;
}

.buttons-wrap {
  display: flex;
}

.buttons-wrap > *:first-child {
  margin-right: 8px;
}

.filters {
  background-color: var(--light-grey);
  color: var(--dark-grey);
  border: none;
  margin-bottom: 16px;
  margin-right: 4px;
  padding: 8px;
  border-radius: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  margin-right: 16px;
}

.filter-header {
  font-weight: 600;
  margin-bottom: 8px;
}

.company .img-wrap {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--light-grey);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  
  max-height: 520px;
}

.company img {
  max-width: 360px;
  width: 100%;
  max-height: 120px;
}

.company .info-wrap {
  flex-basis: 60%
}

.company .esg .histograms {
  flex-basis: 60%;
}

.company .esg .histograms p {
  font-weight: 600;
}

.company .esg .average-score {
  flex-basis: 40%;
}

.company p {
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 24px;
}

.company .info-wrap-heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #cadadb;
  margin-bottom: 16px;
}

.company .info-wrap-heading span {
  width: 108px;
}

.company h2 {
  margin-bottom: 16px;
  font-weight: 600;
}

.company h2 span {
  display: inline-block;
  margin-right: 4px;
  font-weight: 400;
}

.company .esg {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding: 16px;
  border-radius: 4px;
}

.company-card .esg .value {
  font-weight: 600;
  font-size: 64px;
  margin-bottom: 4px;
  width: 100%;
  letter-spacing: -2px;
}

.company .esg .average-score div:nth-child(2) {
  text-align: right;
  font-style: normal;
  font-size: 128px;
}

.company .esg .average-score h3 {
  font-style: italic;
}

.company .esg p {
  margin-bottom: 1px;
}

.average-score {
  text-align: right;
}

.average-score h2:nth-child(1) {
  font-size: 16px;
  margin-bottom: 24px;
}

.average-score h2:nth-child(2) {
  font-size: 88px;
  letter-spacing: -2px;
}

.company .location {
  font-style: italic;
  font-weight: 600;
}

.company .location > div {
  margin-bottom: 4px;
}

.link {
  font-weight: 500;
  text-decoration: underline;
}

.form-container {
  padding-left: 30vw;
}

form label {
  display: block;
  color: var(--grey)
}

form label input {
  display: block;
  margin-top: 8px;
  background-color: var(--light-grey);
  border: none;
  padding: 12px 8px;
  max-width: 520px;
  width: 100%;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  margin-bottom: 12px;  
  border-radius: 4px;
  font-size: 12px;
  color: var(--dark-grey);
  box-sizing: border-box;
}

form button {
  margin-top: 24px;
  max-width: 520px;
  width: 100%;
}

.favourites h2 {
  font-size: 20px;
  font-weight: 600;
  color: var(--dark-grey);
  text-align: center;
}

.esg-indicator {
  height: 24px;
  border-radius: 4px;
  margin: 4px 0;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  opacity: 0.75;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.esg-indicator-value {
 color: white;
 font-weight: 600;
 padding-left: 8px;
 text-shadow: 0px 0px 2px #333333;
}

.esg-good {
  background-color: #B1C998;
}

.esg-moderate {
  background-color: #e6bf70;
}

.esg-bad {
  background-color: #E84258;
}

#MapComponent {
  margin-top: 64px;
}

@media only screen and (max-width: 960px) {
  h1 {
    font-size: 32px;
  }

  .icons-wrap {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-top: 32px;
  }

  .icons-wrap h2 {
    font-size: 20px;
  }

  .icons-wrap img {
    height: 56px;
  }
  .icons-wrap .icons-card {
    text-align: left;
    margin-bottom: 24px;
  }

  .icons-card p {
    max-width: 560px;
  }

  .companies-list {
    gap: 24px;
  }
  .company-card {
    flex: 0 1 100%;
  }
}

.map-wrap {
  max-width: 500px;
}

.leaflet-container {
  width: 100%;
  height: 50vh;
  z-index: 1;
}

@media only screen and (max-width: 640px) {
 .form-container {
    padding-left: 16px;
    padding-right: 16px;
 }

 form label input {
    width: 100%;
    min-width: 0;
 }

 form button {
    width: 100%;
    min-width: 0;
 }

 .company .img-wrap, .company .info-wrap {
    flex-basis: 100%;   
 }

 .company .img-wrap {
    padding: 32px 0;
 }

 .company {
    display: flex;
    flex-direction: column;
 }

 .buttons-wrap {
    text-align: center;
 }
}

@media only screen and (max-width: 430px) {
  .company-card-buttons-wrap {
    display: flex;
    justify-content: center;
  }
  
  .favourites h2 {
    text-align: center;
  }
}
